*{
    font-family: "Lunisolar";
    font-weight: lighter;
    -webkit-text-stroke: black 2px;
    color: white;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Lunisolar";
}
header, .imagenes, .marco-imagen, .contenedor-nombre, .contenedor-imagen, .vs, .contenedor-tabla-boton{
    display:flex;
    justify-content: center;
    align-items: center;
}
.contenedor-nombre, .contenedor-nombre input, button:active{
    background: #4DB6AC;          
}
@font-face{
    font-family: "Lunisolar";
    src: url(fonts/Lunisolar.otf);
}
h1{
    font-size: 60px;
    text-shadow: 7px 5px 5px black;
}
h2{
    font-size: 30px;
}
.colorFondo{
    background: #009688;
}
.fila{
    justify-content: center; 
    border: 3px solid black;  
}
header{
    height: 100px;
}
.imagenes{
    margin-top: 50px;
    margin-bottom: 80px;
}
.marco-imagen{
    flex-wrap: wrap;
    height: 300px;
    width: 350px;
    padding: 20px;
    border: solid black 4px;  
}
.sombra-A{
    box-shadow: -5px 3px 5px black;
}
.sombra-B{
    box-shadow: 5px 3px 5px black;
}
.contenedor-imagen{
    background: white;
    width: 90%;
    height: 80%;
    margin-bottom: 10px;
    border: solid black 4px;
}
.contenedor-nombre{
    height: 12%;
    width: 50%;
    border: solid black 2px;
}
.contenedor-nombre input{
    width: 100%;
    border: none;
    text-align: center;
    font-size: 30px;
}
input{
    outline-color: grey;
}
.contador{
    display: flex;
    justify-content: center;
}
.contador table {
    margin-left: 3px;
    border: solid black 3px;  
    font-size: 30px;  
    box-shadow: 2px 2px 6px black;
}
.contador td {
    background: white;
    width: 70px;
    border: 3px solid black;
}
.contador table {
    text-align: center;
    height: 50px;
    width: 150px;
}
.contador-vs-jugar{
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 310px;
}
.contador-vs-jugar div{
    height: 33%;
    width: 100%;
}
.vs{
    width: 40px;
}
.jugar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 button { 
    font-size: 32px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 8px 30px;
    border: 3px solid black;
    box-shadow: 2px 2px 6px black;
}
button:hover{
    cursor: pointer;
}
 button:active{
    transform: translate(2px, 2px);
    transition: 25ms;
    box-shadow: none;
}
.jugar label {
    font-size: 22px;
    -webkit-text-stroke: black 2px;
}
.contenedor-tabla-boton{
    flex-direction: column;
}
.contenedor-tabla{
    overflow: scroll;
    background: white;
    margin-top: 30px;
    height: 200px;
    width: 70%;
    border: solid black 5px;
}
.contenedor-tabla table{
    border-collapse: collapse;
}
.contenedor-tabla th{
    font-size: 30px;
    width: 300px;
    padding-left: 10px;  
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.contenedor-tabla tbody{
    font-size: 23px;
    text-align: center;
}
.contenedor-tabla td{
    border: 2px solid black;
}
.contenedor-tabla-boton button{
    margin-bottom: 15px;
    width: 20%;
}