<div class="row">
    <div class="col-md-12 centrar-contenido">
        <h2 class="indicador-seccion">Seccion Economia</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12  centrar-contenido">
        <img src="css/images/economia/caminos2.png" alt="Caminos en ma estado" class="imagen sombra-imagen">
    </div>
</div>
<div class="row">
    <div class="col-md-12 centrar-contenido">
        <h1 class="titulo-noticia-principal">Falta de inversion en rutas</h1>
    </div>
    <div class="col-xs-6">
        <span class="info">Por Jose Luis Espert</span>
    </div>
</div>
<div class="row margen-inferior">
    <div class="col-md-12">
        <h2 class="subtitulo-noticia-principal">Todos los caminos conducian a Roma</h2>
    </div>
</div>
<div class="row contorno margen-inferior">
    <div class="col-md-12 alineado-izquierda margen-inferior">
        <h3 class="separador-parrafo">La falta de inversion:</h3>
        <p>
            El deficit fiscal producido por la intensa guerra contra los barbaros esta ocacionando que los 
            magestuosos caminos romanos esten en una profunda decadencia. Los accidentes de carretas son mas 
            frecuentes debido al aumento en la cantidad de baches. Ademas la vigilancia en los mismos ha mermado, 
            haciendolos peligrosos ante ataques de bandidos y saqueadores visigodos. Esta problema se esta 
            llevando muchas vidas y necesita ser tratado con urgencia.
        </p>
        <h3 class="separador-parrafo">El comercio romano</h3>
        <p>
           Fue el motor que condujo a la economía de finales de la República y principios del Imperio. 
           Modas y tendencias de la historiografía y cultura popular han tendido a no ocuparse de la base 
           económica del imperio en favor de lingua franca que fue el latín y las hazañas de las legiones. 
           Tanto la lengua como las legiones fueron apoyadas por el comercio, siendo al mismo tiempo parte de 
           su espina dorsal. 
           Los romanos eran hombres de negocios y la longevidad de su imperio se debió a su comercio.
        </p>
        <h3 class="separador-parrafo">Rutas terrestres</h3>
        <p>
            Incluso antes de la república, la monarquía romana estuvo involucrada en comercio regular a través del r
            ío Tíber. Antes de que las guerras púnicas cambiasen totalmente la naturaleza del comercio en el mediterráneo, la República Romana mantenía importantes intercambios comerciales con Cartago, entrando en varios acuerdos comercia
            y políticos además del mero mercadeo al por menor. El Imperio Romano negoció con China mediante la R
            uta de la seda.
        </p>
        <p>
            los buques marítimos romanos no mostraron mejora importante alguna sobre las 
            naves griegas de los siglos anteriores, aunque el recubrimiento de plomo de los
             cascos como protección parece haber sido más frecuente. Los romanos usaron barcos
              de vela de casco redondo. 
        
        </p>
    </div>
</div>
<div class="row margen-inferior">
    <!-- Noticia ruta de la seda -->
    <div class="col-sm-5 contorno separacion">
        <div class="row">
            <div class="col-sm-12">
                <img src="css/images/economia/chinos.png" alt="Ruta de la seda" class="imagen sombra-imagen">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulo-noticia-secundaria ">La ruta de la seda más picante que nunca</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                 <p class="intro">
                    -"Encima que sospechan de uno, te dan el vuelto en caramelo esos Chinos” declara comerciante local 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <p>
                    El aumento del comercio con china no es solo ganancias, tambien permite que sucedan choques culturales. 
                    Nuestros comerciantes se quejan del oportunismo y la avidez de ganancia de los orientales.
                </p>
                <p>
                    Este choque podria incrementarse, ya que el ultimo decreto del emperador permite la instalacion 
                    indiscriminada de mercados chinos en las principales urbes romanas
                </p>
            </div>
        </div>
        <div class="row pie-noticia margen-inferior">
            <div class="col-sm-6">
                <span class="info">Chom lee</span>
            </div>
        </div>
    </div>
    <!--Noticia denario -->
    <div class="col-sm-5 col-sm-push-2 margen-inferior contorno separacion">
        <div class="row">
            <div class="col-sm-12">
                <img src="css/images/economia/moneda-china.png" alt="Moneda china" class="imagen sombra-imagen">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulo-noticia-secundaria ">Crece el poder adquisitivo del Denario</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                 <p class="intro">
                    “El que aposto a la Wuzhu pierde” dijo el senador.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <p>
                    Debido al saqueo de las arcas Imperiales por parte de los saquedores
                    , el Denario, al ser mas escaso, se ha revalorizado con respecto a las demas divisas.
                </p>
                <p>
                    Por otra parte, el amor por la maquinita de imprimir monedas del emperador Wang-Zhun-Lee, ha causado que el Wuzhu se devalue
                    , generando enormes pertidas para los inversionestas del par Denario/Wuzhu.
                </p>
            </div>
        </div>
        <div class="row pie-noticia">
            <div class="col-sm-6">
                <span class="info">Jacobo Winogrand</span>
            </div>
        </div>
    </div>
</div>