<div class="row">
    <div class="col-md-12  centrar-contenido">
        <img src="css/images/home/visigodos2.png" alt="Ataque de los visigodos" class="imagen sombra-imagen">
    </div>
</div>
<div class="row">
    <div class="col-md-12 centrar-contenido">
        <h1 class="titulo-noticia-principal">Roma bajo Asedio</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="subtitulo-noticia-principal">“Los pueblos germánicos estan sobre nuestrar puertas, el saque podria comenzar pronto.
             Se recomienda no salir de casa, Viva el Cesar!”
        </h2>
    </div>
</div>
<div class="row pie-noticia margen-inferior">
    <div class="col-xs-6">
        <span class="info">Teto Medina</span>
    </div>
    <div class="col-xs-6 alineado-derecha">
        <span class="info">Seccion Politica</span>
    </div>
</div>
<!-- Noticia seccion economia-->
<div class="row margen-inferior">
    <div class="col-sm-5 contorno separacion">
        <div class="row">
            <div class="col-sm-12">
                <img src="css/images/home/caminos1.png" alt="falta de inversion en caminos" class="imagen sombra-imagen">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulo-noticia-secundaria">Falta de inversión en rutas</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                 <p class="intro">
                    “Todos los caminos conducían a Roma”
                </p>
            </div>
        </div>
        <div class="row pie-noticia">
            <div class="col-sm-6">
                <span class="info">Jose luis espert</span>
            </div>
            <div class="col-sm-6 alineado-derecha">
                <span class="info">Seccion Economia</span>
            </div>
        </div>
    </div>
    <!-- Noticia seccion sociedad-->
    <div class="col-sm-5 col-sm-push-2 contorno separacion">
        <div class="row">
            <div class="col-sm-12">
                <img src="css/images/home/sin-cero.png" alt="Sin cero" class="imagen sombra-imagen">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulo-noticia-secundaria">Los problemas de no tener cero</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                 <p class="intro">
                    “Hay que cambiar el sistema aditivo por el posicional”
                </p>
            </div>
        </div>
        <div class="row pie-noticia">
            <div class="col-sm-6">
                <span class="info">Adrian Paenza</span>
            </div>
            <div class="col-sm-6 alineado-derecha">
                <span class="info">Seccion Sociedad</span>
            </div>
        </div>
    </div>
</div>
<div class="row margen-inferior">
    <!-- Noticia seccion coliseo-->
    <div class="col-sm-5 contorno separacion">
        <div class="row">
            <div class="col-sm-12">
                <img src="css/images/home/maximo1.png" alt="falta de inversion en caminos" class="imagen sombra-imagen">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulo-noticia-secundaria">Duelo desicivo, Maximus vs el emperador</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                 <p class="intro">
                    "Se enfrentaran en una batalla de vida o muerte"
                </p>
            </div>
        </div>
        <div class="row pie-noticia">
            <div class="col-sm-6">
                <span class="info">Chiche Wolf</span>
            </div>
            <div class="col-sm-6 alineado-derecha">
                <span class="info">Seccion Coliseo</span>
            </div>
        </div>
    </div>
    <!-- Noticia seccion judiciales -->
    <div class="col-sm-5 col-sm-push-2 contorno separacion">
        <div class="row">
            <div class="col-sm-12">
                <img src="css/images/home/jesus1.png" alt="falta de inversion en caminos" class="imagen sombra-imagen">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulo-noticia-secundaria">Blasfemia y oportunismo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                 <p class="intro">
                    Ante el malestar general, aparecen falsos Jesues por toda roma
                </p>
            </div>
        </div>
        <div class="row pie-noticia">
            <div class="col-sm-6">
                <span class="info">Jose Campanelli</span>
            </div>
            <div class="col-sm-6 alineado-derecha">
                <span class="info">Seccion Judiciales</span>
            </div>
        </div>
    </div>
</div>
<!-- Seccion formulario -->
<div class="row">
    <div class="col-md-12 centrar-contenido margen-inferior">
        <h2 class="titulo-formulario ">Registrese para recibir el papiro en su casa!</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-push-1 contorno separacion">
        <form>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" class="form-control" placeholder="Ingrese su nombre">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" class="form-control" placeholder="Ingrese su apellido">
            </div>
            <div class="form-group">
                <label for="direccion">Direccion:</label>
                <input type="text" id="direccion" class="form-control" placeholder="Ingrese su direccion">
            </div>
            <div class="form-group">
                <label for="estatus-siocial">Estatus siocial:</label>
                <select class="form-control" id="estats-social">
                    <option>Esclavo</option>
                    <option>Patricio</option>
                    <option>Plebello</option>
                    <option>Senador</option>
                    <option>Sacerdote</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default js-solicitar-papiro margen-inferior">Solicitar Papiro</button>
        </form>
    </div>
</div>