.titulo-crucifixiones{
    font-weight: bolder;
    font-size: 30px;
}
.datos{
    margin-top: 10px;
}
.fuente-datos{
    font-size: 150%;
}
.causas{
    font-size: 120%;
}
.imagen-crucificados{
    min-height: 120px;
    min-width: 90px;
}