*{
    font-family: "Lunisolar";
    font-weight: lighter;
    -webkit-text-stroke: black 2px;
    color: white;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Lunisolar";
    font-weight: normal;
}
@font-face{
    font-family: "Lunisolar";
    src: url(fonts/Lunisolar.otf);
}
h1{
    font-size: 60px;
    font-weight: normal;
}
h2{
    font-size: 30px;
}
.colorFondo{
    background: #009688;
}
.fila{
    border: 3px solid black;  

    display: flex;
    justify-content: center; 
    width: 100%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
}
.marco-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #009688;
    height: 300px;
    width: 350px;
    padding: 20px;
    border: solid black 4px;
    
}
.sombra-A{
    box-shadow: -7px 5px 5px black;
}
.sombra-B{
    box-shadow: 7px 5px 5px black;
}
.contenedor-imagen{
    width: 90%;
    height: 80%;
    margin-bottom: 10px;
    background: white;
    border: solid black 4px;
}

.contenedor-nombre{
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 12%;
    width: 50%;
    background: #4DB6AC;          
}
.contenedor-nombre input{
    height: 100%;
    width: 100%;
    border: none;
    padding: 0; 
    color:  white;
    text-align: center;
    font-weight: bolder;
    background: #4DB6AC;  
    -webkit-text-stroke: black 2px;
    font-size: 30px;
}

.contador{
    display: flex;
    justify-content: center;
}
.contador table {
  border : solid black 5px;  
  font-size: 30px;  
  background: #009688;
}
.contador td {
    border: 3px solid black;
    background: white;
    width: 70px;
}

.contador table {
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: 
}
 
 .contenedor-imagen{
     display: flex;
     justify-content: center;
     align-items: center;
 }

.contador-vs-jugar{
    width: 310px;
    height: 340px;
    display: flex;
    flex-direction: column;
}
.contador-vs-jugar div{
    height: 33%;
    width: 100%;
}
.vs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}
.jugar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.jugar button {
    
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    background:  #009688;
    border: 3px solid black;
    padding: 8px 30px;
    box-shadow: 2px 2px 6px black;
    outline: none;
}
.jugar button:hover{
    cursor: pointer;
}
.jugar button:active{
    background: #4DB6AC; 
    box-shadow: 0px 0px 0px black;
    transform: translate(2px, 2px);
    transition: 25ms;
}
input{
    outline-color: grey;
}

.jugar label {
    line-height: -20px;
    font-size: 22px;
    -webkit-text-stroke: black 2px;
}
.contenedor-tabla{
    border: white 4px solid;
    width: 60%;
    height: 200px;
    overflow: scroll;
    margin-bottom: 10px;
    margin-top: 30px;
    box-shadow:  0px 0px 0px 5px black;
}
.contenedor-tabla-boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-tabla th{
    width: 300px;
    font-size: 28px;
    border-bottom: solid black 5px;
    margin: 0px;
    padding: 0px;
}
td{
    text-align: center;
}

#reset {
    height: 50px;
    width: 30%;
    font-size: 30px;
    margin: 10px 0;
}
