body{
    margin: 0px;
    padding: 0px;
    background-color: #b67f2e;
    font-family: "Roman";
    color: black;
}
body, .titulo-noticia-principal, .subtitulo-noticia-principal, .titulo-noticia-secundaria, .separador-parrafo{
   font-weight: bolder; 
}
img, .contenedor-links,.nav li a {
    width: 100%;
}
div{
    padding: 0px;
}
a{
    color: black;  
}
@font-face{
   font-family: "Roman";
   src: url(fonts/roman.ttf);
}
img{
   max-width: 100%;
}
.sombra-imagen{
    box-shadow: 0px 0px 3px 3px;
}
.imagen-columna{
    height: 2500px;
}
.centrar-contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.alineado-derecha{
    text-align: right;
}
.alineado-izquierda{
    text-align: left;
}
.normalizar-color{
    background-color: inherit;
    border: none;
}
.nav li{
    margin: 0;
    box-sizing: border-box;
    border: 5px solid black;
}
.nav li a{
    height: 30px;
    padding: 5px 0px;
    margin: 0;
    font-size: 100%;
}
.nav li a:hover, .nav li a:focus{
    background-color: #986523;
    color: black;
}
.normalizar-padding, .navbar-collapse{
    padding: 0;
}
.margenes-nav{
    margin: 10px 0px 5px 0px;
    min-height: 60px;
}
.margen-inferior{
    margin-bottom: 30px;
}
.indicador-seccion{
    margin-top:0;
    margin-bottom: 20px;
}
.titulo-noticia-principal{
    font-size: 35px;
}
.subtitulo-noticia-principal, .separador-parrafo{
    font-size: 20px;
}
.titulo-noticia-secundaria{
    font-size: 25px;
}
.info{
    font-weight: lighter;
    font-size: 14px;
}      
.contorno{
    border: 3px solid black;
}
.separacion{
    padding: 10px;
}
.footer{
    background-color: #74511c;
    height: 100px; 
}