<div class="container-fluid well">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="tituloHome">
                    <h1>Titulo Noticia Sociedad</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 well">
                    <div class="contenidoNoticiaPrincipal">
                        <div class="col-md-6">
                            <p>
                            Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad
							Sociedad Sociedad Sociedad Sociedad SociedadSociedad Sociedad Sociedad
							Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad
                            </p>
                            <p>
                            Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad
							Sociedad Sociedad Sociedad Sociedad SociedadSociedad Sociedad Sociedad
							Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad
                            </p>
                            <p>
                            Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad
							Sociedad Sociedad Sociedad Sociedad SociedadSociedad Sociedad Sociedad
							Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad Sociedad
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p> 
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam incidunt expedita doloribus,
                                laborum quidem neque quasi iste veniam ipsum ad tenetur necessitatibus, 
                                reprehenderit quae harum pariatur aliquam sequi perferendis qui!                            
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam incidunt expedita doloribus,
                            laborum quidem neque quasi iste veniam ipsum ad tenetur necessitatibus, 
                            reprehenderit quae harum pariatur aliquam sequi perferendis qui! 
                            </p>       
                        </div>
                    </div>
                </div>
            </div>
        </div>