.header{
    margin-bottom: 80px;
    padding: 10px;
    height: 100px;
}
.center{
    text-align: center;
}
.marco{
    padding: 10px;
}
img{
    border: 1px black;
}
.boton {
    margin: 15px 0px 15px 0px;
    width: 150px;
}
.seleccion-modo{
    margin-bottom: 80px;
}

.footer{
    height: 100px;
}

.desvanecer{
   transition: opacity;
   
}