
.crucifixiones ul li, .datos div, .datos{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.contenedor-imagen-datos, .crucifixiones, .crucifixiones ul{
    display: flex;
}
.crucifixiones ul, .crucifixiones ul li, .datos{
    flex-wrap: wrap;
}
.crucifixiones ul, .causas, .datos div, .contenedor-imagen-datos{
    width: 100%;
}
.crucifixiones ul, .crucifixiones ul li, .contenedor-imagen-datos, .causas{
    box-sizing: border-box;
}
.crucifixiones{
    width: 80%;
}
.causas, .crucifixiones ul, .contenedor-imagen-datos{
    border: 2px solid black;
}
 .crucifixiones ul{
    justify-content: space-around;
    padding-top: 15px;
}
.crucifixiones ul li{ 
    list-style: none;
    width: 40%;
    height: 220px;
    margin-bottom: 20px;
    padding: 5px; 
}
.contenedor-imagen-datos{
    height: 60%;
}
.contenedor-imagen-datos img{
    width: 50%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px black;
    border-right: 4px solid black;
}

.datos{
    width: 50%;
    height: 100%;
}
.datos div{
    border-top: 2px solid black;
    height: 32%;
    font-weight: bolder;
}
.causas{
    height: 40%;
    padding: 5px;
}
.causas h3{
    margin-left: 3px;
    
}
