*{
    margin: 0px;
    padding: 0px;
    font-family: "Roman";
}
@font-face{
   font-family: "Roman";
   src: url(fonts/roman.ttf);
}
body{
    background: url(images/decoraciones/background.png);
}
/* 
 En esta seccion se aplican estilos repetidos en varias clases
*/
.columnas-noticias, .nav, .info-noticia, .suplemento, .suplementos, .input-radio{
    display: flex;
}
.nav li, .fila, .noticia-principal , .contenedor-noticias-secundarias, form, .contenedor-textarea-submit, .comentarios{
    display: flex;
    justify-content: center;   
}
.fila, .noticia-principal, .contenedor-noticias-secundarias, form, .suplementos, .contenedor-textarea-submit, .comentarios{
    flex-wrap: wrap;
}
.nav li, .contenedor-textarea-submit,form, .titulo, .cuerpo{
    box-sizing: border-box;
}
.noticia-principal img, .cuerpo, .titulo, .intro, .contenedor-noticias-secundarias, .info-noticia-principal{
    width: 80%;
}
.info-noticia-principal, .noticia-principal img, .noticia img {
    margin-bottom: 10px;
}
.nav li, .info-noticia, .suplemento, .input-radio, .comentarios{
    align-items: center;
}
.nav li, .resaltado, .intro-principal{
    font-weight: bold;
}
.info-noticia, .tips, .comentarios textarea, .indicador-seccion{
    margin-top: 10px
}
.titulo, .info-noticia, .contenedor-textarea-submit, .tips ol{
    padding: 5px;
}
.centrado, .indicador-seccion,.titulo-formulario {
    text-align: center;
}
.suplementos, .info-noticia{
    font-size: 12px;
}
.info-noticia, .seccion-noticias,.contenedor-noticias-secundarias{
    justify-content: space-between;
}


/* ------------------------
 Esta seccion contiene las imagenes y tamaños de los banners, columnas y nav
*/
img{
    box-shadow: 0px 0px 3px 3px;
}
.banner{
    background: url(images/decoraciones/Banner.png);
    height: 200px;  
}
.columna{
    width: 20%;
    background: url(images/decoraciones/Columna.png);
}
.nav{
    height: 75px;
    list-style: none;
    background: url(images/decoraciones/Nav1.png);
    background-size: 100%;
}
.nav, .banner, .columna{
    background-size: 100% 100%;
}
/* --------------------- */
.nav li{
    width: 16.45%;
    font-size: 16px;
}
a{
    text-decoration: none;
    padding-bottom: 15px;
    color: black;
}
.alineamiento-home{
    padding-left: 28px;
}
.alineamiento-politica{
    padding-left: 21px;
}    
.alineamiento-sociedad{
    padding-left: 15px;    
}  
.alineamiento-economia{
    padding-left: 10px;
}       
.indicador-seccion{
    width: 30%;
    font-size: 25px;
    font-weight: bold;
}
.indicador-seccion::before {
    content: "Seccion ";
}
.margen-home{
    margin-top: 30px;
}
.fila{
    margin-bottom: 30px;
}
.noticia-principal{
    
    width: 100%;
}
.noticia-principal img{
    height: 300px;
    margin-bottom: 20px;
}
.cuerpo{
    padding: 10px;
    border: solid 3px black;
}
.cuerpo h3{
    margin-left: 5px;
}
p{
    margin: 5px 0;
}
.titulo{
    text-align: left;
    margin: 10px 0px;
   
}
.intro {
    margin-bottom: 20px;
}
.intro-principal{
    margin: 10px 0px;
    font-size: 19px;
}
.intro-secundaria{
    text-align: left;
    margin: 10px 0px;
}
.seccion-noticias{
    width: 60%;
    border: 5px solid black;
}
.noticia{
    width: 45%;
    margin-bottom: 40px;
    padding: 10px;
    border: 2px solid black;
}
.noticia h2{
    margin-bottom: 5px;
}
.noticia h3{
    margin-left: 5px;
}
.enfasis{
    font-style: italic;
    font-weight: lighter;
}
.noticia img{
    width: 100%;
    height: 234px;
}

.tips h4{
    margin-bottom: 5px;
}
.tips ol{
    margin-left: 30px;
}
.titulo-formulario, form , textarea{
    width: 70%;
}
.titulo-formulario{
    margin: 15px 0px;
}

form{
    height: 500px;
    padding: 15px;
    border: solid black 3px;
}
.columna-formulario{
    width: 45%;
    height: 206px;
    display: inline-block;
    padding: 8px;
}
label{
    font-size: 20px;
}
select, input{
    width: 90%;
    height: 25px;
    margin: 10px 0;
    padding-left: 5px;
}
select{
    height: 30px;
    width: 222px;
}
.suplemento{
    justify-content: space-around;
    width: 90px;
}
.checkbox, .radio {
    width: 15px;    
}
.input-radio{
    height: 67px;
}
.margen-hombre{
    margin-right: 40px;
}
.contenedor-textarea-submit{
    width: 70%;
    height: 250px;
}
.comentarios{
    width: 500px;
    margin-top: 20px;
    padding: 10px;
}
.comentarios textarea{
    width:400px;
}
.comentarios  input{
    width: 35%;
    height: 30px;
}
.footer{
    background: url(images/decoraciones/Footer.png);
    height: 100px;
  
}