*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(images/decoraciones/background.png);
}
.banner{
    background: url(images/decoraciones/Banner.png);
    border: 1px solid black;
    height: 200px;  
    background-size: 100%;
}
.columnas-noticias{
    border: 1px solid black;
    display: flex;
}
.columna, .noticias{
    border: 2px solid black;
}
.columna{
    width: 20%;
}

.nav{
    display: flex;
    height: 75px;
    list-style: none;
    background: url(images/decoraciones/Nav1.png);
}
.nav li{
    width: 16.45%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicador-seccion{
    border: 1px solid black;
    width: 30%;
    text-align: center;
}
.indicador-seccion span{
    font-size: 25px;
}
span::before {
    content: "Seccion ";
}
a{
    text-decoration: none;
    padding-bottom: 15px;
    padding-left: 20px;
}
.fila{
    margin-bottom: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.noticia-principal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.noticia-principal img{
    border: 1px solid black;
    width: 80%;
    height: 300px;
    margin-bottom: 10px;
}
.cuerpo{
    width: 80%;
    border: 1px solid black;
}
.titulo{
    text-align: left;
    border: 1px solid black;
    width: 80%;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 0px 5px 0px;
}
.centrado{
    text-align: center;
}
.intro{
    width: 80%;
    margin-bottom: 10px;
}
p {
    margin-left: 5px;
}
.seccion-noticias{
    justify-content: space-between;
    width: 60%;
    border: 1px solid black;
}
.contenedor-noticias-secundarias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    border: 1px solid black;
}
.noticia{
    width: 45%;
    height: 340px;
    border: 1px solid black;
    margin-bottom: 40px;
    padding: 5px;
}

.noticia img{
    width: 100%;
    height: 65%;
}

.info-noticia{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.info-noticia-principal{
    width: 80%;
    border: 1px solid black;
    margin-bottom: 10px;
}
.titulo-formulario{
    border: 1px solid black;
    margin: 15px 0px;
    width: 50%;
}
form{
    width: 50%;
    height: 460px;
    padding: 15px;
    box-sizing: border-box;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.columna-formulario{
    width: 45%;
    height: 206px;
    display: block;
    padding: 8px;
    
}
label{
    font-size: 20px;
}
select, input{
    width: 90%;
    height: 25px;
    margin: 5px 0;
}
select{
    height: 30px;
}
.suplementos{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}
.suplemento{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90px;
}
.checkbox, .radio {
    width: 15px;    
}
.input-radio{
    display: flex;
    align-items: center;
    height: 67px;
}
.margen-hombre{
    margin-right: 40px;
}
.contenedor-textarea-submit{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing: border-box;
    width: 70%;
    height: 210px;

}
textarea{
    margin-bottom: 2px;
    resize: none;
}
.contenedor-textarea-submit input{
    width: 40%;
    height: 30px;
}