.coliseo, table{
    width: 80%;
    margin: 10px;

}
.coliseo{
    border:1px solid black;
    height: 300px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 30px;
    box-shadow: 3px 3px 3px black;
    
}
th, td, tr{
    border: 3px solid black;
}
tr{
    height: 40px;
}
.celda-intermedia, .celda-chica, td{
    text-align: center;
}
.celda-intermedia{
    width: 150px;
}
.celda-chica{
    width: 80px;
   
}
