<div class="row">
    <div class="col-md-12 centrar-contenido">
        <h2 class="indicador-seccion">Seccion Coliseo</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 centrar-contenido">
        <h1 class="titulo-noticia-principal">Duelo decisivo: Maximus vs el emperador</h1>
    </div>
    <div class="col-xs-6 margen-inferior">
        <span class="info">Por horacio pagani</span>
    </div>
</div>
<div class="row">
    <div class="col-md-12  centrar-contenido">
        <img src="css/images/coliseo/maximo2.png" alt="Maximo vs el emperador" class="imagen sombra-imagen">
    </div>
</div>
<div class="row ">
    <div class="col-md-12">
        <h2 class="subtitulo-noticia-principal">El general que se convirtió en esclavo. El esclavo que se convirtió en gladiador. El gladiador que desafió a un emperador. Una historia impactante. Ahora el pueblo quiere saber cómo termina. Sólo servirá una muerte célebre.
             ¿Y qué podría ser más glorioso que desafiar al mismísimo emperador en la gran arena?
        </h2>
    </div>
</div>
<div class="row contorno margen-inferior">
    <div class="col-md-12 alineado-izquierda margen-inferior">
        <h3 class="separador-parrafo">Un poco de historia:</h3>
        <p>En el año 180 d. C. el general hispanorromano Máximo Décimo Meridio lidera al ejército romano 
            hacia una importante victoria sobre las tribus germánicas cerca de Vindobona, poniendo fin a una 
            larga guerra en el limes del imperio romano. 
        </p>
        <p>
            Después de enterrarlos, Máximo queda inconsciente por el cansancio, el dolor de la pérdida,
             y por una profunda herida causada durante su fallida ejecución, momento en que cae en manos 
             de esclavistas que lo trasladan a Zucchabar, en el norte de África. 
        </p>
        <h3 class="separador-parrafo">Mientras tanto, en Roma:</h3>
        <p>
            Cómodo es coronado emperador y ordena que se inicien varios meses de juegos y luchas de gladiadores. 
            En África, Máximo demuestra ser un feroz gladiador, diestro en el combate y líder nato.
        </p>
        <h3 class="separador-parrafo">Maximus y Comodo se enfrentaran este Jueves/05 18:hs, Coliseo. Entradas por Ticketek</h3>
    </div>
</div>
<div class="row margen-inferior">
    <div class="col-md-10 col-md-push-1 alineado-izquierda">
        <h2 class="titulo-tabla">Proximos eventos:</h2>
    </div>
</div>
<div class="row margen-inferior">
    <div class="col-md-10 col-md-push-1">
        <img src="css/images/coliseo/coliseo.png" alt="coliseo" class="imagen sombra-imagen">
    </div>
</div>
<div class="row margen-inferior">
    <div class="col-md-10 col-md-push-1 ">
        <div class="table-responsive maximo-tabla">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre Evento</th>
                        <th>Descripcion</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody class="cuerpo-tabla">
                    
                </tbody>
            </table>
        </div>   
    </div>
</div>
<div class="row">
    <div class="col-sm-10 col-md-push-1 contorno">
        <form>
            <h2 class="titulo-tabla">Cargar Evento</h2>
            <div class="form-group">
                <label for="nombre-evento">Nombre Evento</label>
                <input type="text" id="nombreEvento" class="form-control" placeholder="Ingrese nombre del evento">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion breve:</label>
                <input type="text" id="descripcion" class="form-control" placeholder="Ingrese una descripcion breve">
            </div>
            <div class="form-group">
                <label for="fecha">Fecha Evento:</label>
                <input type="date" id="fecha" class="form-control" placeholder="Ingrese fecha">
            </div>
            <div class="form-group">
                <label for="hora">Hora:</label>
                <select class="form-control" id="hora">
                    <option>9:00 hs</option>
                    <option>11:00 hs</option>
                    <option>12:00 hs</option>
                    <option>13:00 hs</option>
                    <option>14:00 hs</option>
                    <option>15:00 hs</option>
                    <option>16:00 hs</option>
                    <option>17:00 hs</option>
                    <option>18:00 hs</option>
                    <option>19:00 hs</option>
                    <option>20:00 hs</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default js-cargar-evento margen-inferior">Cargar Evento</button>
        <form>
    </div>
</div>
