<div class="row">
    <div class="col-md-12 centrar-contenido">
        <h2 class="indicador-seccion">Seccion Judiciales</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 centrar-contenido">
        <h1 class="titulo-noticia-principal">Blasfemia y oportunismo</h1>
    </div>
    <div class="col-xs-6 margen-inferior">
        <span class="info">Por mario Bergoglio</span>
    </div>
</div>
<div class="row">
    <div class="col-md-12  centrar-contenido">
        <img src="css/images/judiciales/jesus2.png" alt="Jesues falsos" class="imagen sombra-imagen">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="subtitulo-noticia-principal">Ante el malestar general, aparecen falsos Jesues por toda roma
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 alineado-izquierda margen-inferior contorno">
        <h3 class="separador-parrafo">¿Quienes son?</h3>
        <p>Se tratan de falsos profetas que ante el malestar general y la decadencia del imperio, 
            profanan el nombre del Hijo haciendose pasar por nuestro señor y salvador JesuCristo Amen.
            Bajo la escusa de salvar tu alma te invitan a sus iglesias, en las que se puden presenciar 
            distintos tipos de milagros truchos, tales como hacer ver a los ciegos, exorcisar cuerpos poseidos, 
            hecerte ganar el telekino, curar cuadriplegias y coso. Bien se sabe que estos son actores que ayudan a que el milagro parezca real. El timo en todo esto esta en que para entrar aqui debes pagar el "diezmo", haciendo a estos falsos pastores extremadamente ricos.
        </p>
        <h3 class="separador-parrafo">¿Que haran las Autoridades publicas?</h3>
        <p>
            El Emperador ordeno a su jefe de seguridad interna, Patricio Bullrich, 
            a encontrar y arrestar a estos estafadores, que juegan cruelmente con la ilusion y 
            la desgracia ajena. Para ayudar a que las fuerzas del orden cumplan con su objetivo, desde 
            "La voz de la Plebe" proponemos la siguiente oracion para que nuestro Sacro Salvador 
            nos ayude a erradicar este mal
        </p>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Inventore similique labore, beatae reprehenderit rem delectus, 
            aspernatur ducimus repellendus aliquam numquam aut quisquam sit 
            a id corporis sequi impedit eaque. Quasi.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="titulo-crucifixiones centrar-contenido">Crucifixiones para la proxima semana:</h2>
    </div>
    <div class="col-sm-6">
        <ul class="list-group">
            <!-- Anibal -->
            <li class="list-group-item margen-inferior">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="css/images/judiciales/anibal.png" alt="anibal" class="imagen imagen-crucificados sombra-imagen">
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">Anibal</span>
                                    </div>
                                </div>
                                <div class="row tamanio-datos centrar-contenido">
                                    <div class="col-md-12 ">
                                        <span class="fuente-datos">31</span>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">Cartago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 datos centrar-contenido">
                                <p class="causas contorno">Causas: Principal antagonista en la guerra de cartago</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Espartacus -->
            <li class="list-group-item margen-inferior">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="css/images/judiciales/espartaco.png" alt="espartaco" class="imagen imagen-crucificados sombra-imagen">
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">Espartaco</span>
                                    </div>
                                </div>
                                <div class="row tamanio-datos centrar-contenido">
                                    <div class="col-md-12 ">
                                        <span class="fuente-datos">33</span>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">tracio</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 datos centrar-contenido">
                                <p class="causas contorno">Causas: Armar bardo, avivar giles, pelearse con la yuta</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Viriato -->
            <li class="list-group-item margen-inferior">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="css/images/judiciales/viriato.png" alt="viriato" class="imagen imagen-crucificados sombra-imagen">
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">viriato</span>
                                    </div>
                                </div>
                                <div class="row tamanio-datos centrar-contenido">
                                    <div class="col-md-12 ">
                                        <span class="fuente-datos">35</span>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">Hispania</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 datos centrar-contenido">
                                <p class="causas contorno">Causas: Trafico de gomeras, matar palomas mensajeras</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ul class="list-group ">
             <!-- Arminio -->
            <li class="list-group-item margen-inferior">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="css/images/judiciales/arminio.png" alt="arminio" class="imagen imagen-crucificados sombra-imagen">
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">Arminio</span>
                                    </div>
                                </div>
                                <div class="row tamanio-datos centrar-contenido">
                                    <div class="col-md-12 ">
                                        <span class="fuente-datos">28</span>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">Germania</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 datos centrar-contenido">
                                <p class="causas contorno">Causas: Falsificar de papiro de identidad y titulo secundario</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Genserico -->
            <li class="list-group-item margen-inferior">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="css/images/judiciales/genserico.png" alt="Genserico" class="imagen imagen-crucificados sombra-imagen">
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">Genserico</span>
                                    </div>
                                </div>
                                <div class="row tamanio-datos centrar-contenido">
                                    <div class="col-md-12 ">
                                        <span class="fuente-datos">45</span>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">Romano</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 datos centrar-contenido">
                                <p class="causas contorno">Causas: Se olvido de cerrar la puerta y entraron los hunos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Justin -->
            <li class="list-group-item margen-inferior">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="css/images/judiciales/justin.png" alt="Justin" class="imagen imagen-crucificados sombra-imagen">
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">Yastin</span>
                                    </div>
                                </div>
                                <div class="row tamanio-datos centrar-contenido">
                                    <div class="col-md-12 ">
                                        <span class="fuente-datos">23</span>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12 datos centrar-contenido">
                                        <span class="fuente-datos">Reptiliano</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 datos ">
                                <p class="causas contorno">Causas: Estropear el hit "despacito" de luis fonsi"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
</div>