<div class="row">
    <div class="col-md-12 centrar-contenido">
        <h2 class="indicador-seccion">Seccion politica</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 centrar-contenido">
        <h1 class="titulo-noticia-principal">Roma bajo Asedio</h1>
    </div>
    <div class="col-xs-6 margen-inferior">
        <span class="info">Por Teto Medina</span>
    </div>
</div>
<div class="row">
    <div class="col-md-12  centrar-contenido">
        <img src="css/images/home/visigodos2.png" alt="Ataque de los visigodos" class="imagen sombra-imagen">
    </div>
</div>
<div class="row margen-inferior">
    <div class="col-md-12">
        <h2 class="subtitulo-noticia-principal">Los pueblos germánicos estan sobre nuestrar puertas, el saque podria comenzar pronto.
             Se recomienda no salir de casa, Viva el Cesar!
        </h2>
    </div>
</div>
<div class="row contorno margen-inferior">
    <div class="col-md-12 alineado-izquierda margen-inferior">
        <h3 class="separador-parrafo">Contextualicemos:</h3>
        <p>Valia (o Walia) fue un rey visigodo que reinó durante el período comprendido entre el año 415 y 418,
        caracterizándose en la historia por firmar un "foedus" o tratado de paz con Roma,
        más especialmente con el emperador Honorio, con el que se comprometía a expulsar a los tribus
        bárbaras de la península y a cambio recibía tierras al sur de Francia.
        </p>
        <h3 class="separador-parrafo">Los visigodos:</h3>
        <p>
            El "foedus" era en cierto modo una vía de romanización ciudadana, mediante el cual la 
            ciudad beneficiaria pasaba a convertirse en una ciudad federada. San Isidoro de Sevilla, 
            famoso eclesiástico católico y erudito, estudiaría al rey Valia y su "foedus" en su Historia 
            Gothorum,
            de la que podemos asimilar varios datos adicionales sobre este tratado y su historia.
        </p>
        <p>
            En la era y año indicados [a. 416], Valia, sucediendo a Sigerico, 
            tuvo el reino durante tres años, hecho príncipe de los godos con motivo de la guerra,
             aunque ordenado para la paz por la providencia divina. Pues luego que comenzó a reinar, 
             celebró un tratado con el emperador Honorio. Su hermana Placidia, que había sido capturada 
             por los godos en Roma, se la devolvió honrosamente, prometiendo al Emperad
            tomar parte en toda batalla por la República. De esta manera fue llamado a 
            España por el patricio Constancio.
        </p>
        <p>
            En la era y año indicados [a. 416], Valia, sucediendo a Sigerico, tuvo el reino durante 
            tres años, hecho príncipe de los godos con motivo de la guerra, aunque ordenado para la 
            paz por la providencia divina. Pues luego que comenzó a reinar, celebró un tratado con el
             emperador Honorio. Su hermana Placidia, que había sido capturada por los godos en Roma, se
             la devolvió honrosamente, prometiendo al Emperad
            tomar parte en toda batalla por la República. De esta manera fue llamado a 
            España por el patricio Constancio.
        </p>
        <p>
            En la era 491 [a. 453], Teodorico [II], porque había ayudado al emperador Avito a 
            alcanzar la supremacía imperial con ayuda de los galos, de la Aquitania pasó a España con
             multitud de ejército y con licencia del mismo emperador Aviso. 32. Pero en las Galias el 
             conde Agripino, émulo del conde romano Egidio, para ganarse la ayuda de los godos, entregó 
             Narbona a Teodorico
        </p>
    </div>
</div>
<div class="row margen-inferior">
    <!-- Noticia cinco emperadores en una semana -->
    <div class="col-sm-5 contorno separacion">
        <div class="row">
            <div class="col-sm-12">
                <img src="css/images/politica/emperadores.png" alt="Cinco emperadores en una semana" class="imagen sombra-imagen">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulo-noticia-secundaria ">V emperadores en una semana</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                 <p class="intro">
                    Continúa la ola de conspiraciones y asesinatos.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <p>
                    Las malas decisones cuestan, y mas en estos tiempos violentos.
                </p>
                <p>
                    Adulterios,abuso de autoridad,
                    corrupcion, envidia, diferentes causas con el mismo efecto: Inestabilidad politica
                </p>
                <p>
                    El ultimo en dejarnos fue Fernando Augustus, 
                    que debio abandonar el senado bajo el grito unisono del pueblo: Que se vayan todos!
                </p>
            </div>
        </div>
        <div class="row pie-noticia margen-inferior separacion">
            <div class="col-sm-6">
                <span class="info">Vicky Xipolitakis</span>
            </div>
        </div>
    </div>
    <!--Noticia palomas asesinadas -->
    <div class="col-sm-5 col-sm-push-2 margen-inferior contorno">
        <div class="row">
            <div class="col-sm-12">
                <img src="css/images/politica/palomas.png" alt="Asesinato de palomas" class="imagen sombra-imagen">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulo-noticia-secundaria ">Problemas de comunicación con Britania</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                 <p class="intro">
                    La guerrilla de Viriato nos siguen matando las palomas
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <p>
                    Estimados lectores, por culpa de la buena punteria de los arqueros de Viriato
                     nuestras palomas no regresan a la central de "La voz de la plebe".
                </p>
                <p>
                    No se preocupen, hemos intimado al Emperador a que tome medidas 
                    contra el barbaro e incremente los esfuerzos de guerra. No se preocupen, "Vamos Ganando!"
                </p>
            </div>
        </div>
        <div class="row pie-noticia">
            <div class="col-sm-6">
                <span class="info">Zulma Lobato</span>
            </div>
        </div>
    </div>
</div>

