/*
body{
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 20%;
    
}*/

.contenedor{
    border: 5px solid green;
    width: 25%;
    height: 100px;
}
.ocultar{
    display: none;
}