/*
body{
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 20%;
    
}*/

/* Ejercicio 10
.contenedor{
    border: 5px solid green;
    width: 25%;
    height: 100px;
}
.ocultar{
    display: none;
}
*/

/* Ejericio 12
body{
    height: 100vh;
}
.contenedorRaiz{
    width : 500px;
}
.contenedor{
    border: 1px solid black;
    padding: 5px 0px 0px 5px;
    
}
button {
    display: block;
}
.ocultar{
    display: none;
}
*/

/* Ejercicio 14
body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.caja{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    margin-top: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    animation: rebotar 4s infinite;
    background-color: red;
}
 
 
@keyframes rebotar{
    0% {
        margin-left: 0px;
    }
    50%{
        margin-left: 1046px;
    }
    100%{
        margin-left: 0px;
    }
}
*/ 
