<!--Marco vs j2-->
<div class="col-md-4 col-sm-4 apariencia-fondo marco-pantalla-juego espaciado-entre-contenedores">
    <div class="row">
        <div class="col-md-12 centrar-contenido">
            <h2 class="indicador-jugador">Jugador 2</h2>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-12 centrar-contenido">
            <p class="credito">
                Credito: <span class="js-credito-j2">100</span>
            </p>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-12 centrar-contenido">
            <div class="contenedor-imagen centrar-contenido">
                <img src="css/images/pantalla-juego/signo.jpg" alt="jugador-2" class="img-responsive imagen">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 centrar-contenido">
            <div class="contenedor-seleccionador centrar-contenido">
                <div class="dropdown">
                    <button class="dropdown-toggle seleccionador" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Elegir
                    </button>
                    <ul class="dropdown-menu lista-opciones js-eleccion-j2" aria-labelledby="dropdownMenu1">
                        <li id="piedra">Piedra</li>
                        <li id="papel">Papel</li>
                        <li id="tijera">Tijera</li>
                        <li id="lagarto">Lagarto</li>
                        <li id="spock">Spock</li>
                    </ul>
                </div>
            </div>  
        </div>
    </div>
</div>
