 <!-- Marco para jugador pc-->
<div class="col-md-4 col-sm-4 apariencia-fondo marco-pantalla-juego espaciado-entre-contenedores">
    <div class="row">
        <div class="col-md-12 centrar-contenido">
            <h2 class="indicador-jugador">Pc</h2>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-12 centrar-contenido">
            <p class="credito">
                Credito: <span class="js-credito-pc">100</span>
            </p>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-12 centrar-contenido">
            <div class="contenedor-imagen centrar-contenido">
                <img src="css/images/pantalla-juego/signo.jpg" alt="PC" class="img-responsive imagen js-imagen-j2">
            </div>
        </div>
        <div class="col-md-12 centrar-contenido">
            <div class="contenedor-resultado centrar-contenido">
                <h2 class="resultado">Eleccion pc</h3>
            </div>
        </div>    
    </div>
</div>