<div class="row">
    <!-- Opcion vs PC-->
    <div class="col-md-4 col-md-push-1  marco">
        <div class="row center" >
            <div class="col-md-push-2 col-md-8">
                <h2>Versus PC</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-push-2 col-md-8">
                <img src="" alt="pc" height="200px" width="240px">
            </div>
        </div>
        <div class="row">
            <div class="col-md-push-3 col-md-6 center">
                <button type="button" class="btn btn-info boton js-boton-modo-vs-pc" name="vs-pc">Elegir</button>
            </div>
        </div>
    </div>
    <!-- Opcion vs Jugador Humano-->
    <div class="col-md-4 col-md-push-3 marco">
        <div class="row center" >
            <div class="col-md-push-2 col-md-8">
                <h2>Versus Humano</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-push-2 col-md-8">
                <img src="" alt="Human" height="200px" width="240px">
            </div>
        </div>
        <div class="row">
            <div class="col-md-push-3 col-md-6 center">
                <button type="button" class="btn btn-info boton js-boton-modo-vs-humano" name="vs-humano">Elegir</button>
            </div>
        </div>
    </div>
</div>